.app-panel-menu-bars {
    position: fixed;
    top: 0;
    left:17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    background-color: #222935;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.app-panel-left .app-main-page--button {
    width: 55%;
    position: absolute;
    bottom: 40px;
    margin-left: 15%;
}

.app-left-side img {
    height: 60%;
    width: 50%;
    margin-top: 0px;
}

.app-left-side h1{
    font-weight: 700;
    font-size: 16px;
}

.app-panel-left {
    height: 100vh;
    position: sticky;
    top: 30px;
}

.app-left-side {
    height: 100vh;
}

