.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.app-panel {
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: #222935;
    width: 17%;
    display: inline-block;
    
}
.app-main {
    margin-left: 15px;
    width: 80%;
    display: inline-block;
}

