.app-main-page--button {
    width: 127px;
    height: 40px;
    background: #222935;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.app-main-page--button:hover {
    background-color: #26c17e;
}