.app-info-text-p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.app-info-text {
    background: rgb(238, 238, 238);
    padding: 15px;
    margin-bottom: 10px;
}