.app-portfolio-filter-tab {
    display: inline;
    cursor: pointer;

}
.app-portfolio-content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-portfolio-filter-item .app-portfolio-portfolioinfo {
    transition: 0.5s;
    transform: translateY(-999);
    opacity: 0; 
}


.app-portfolio-filter-item:hover .app-portfolio-portfolioinfo {
    transform: translateY(0);
    opacity: 1;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
}


.app-portfolio-filter-item {
    width: 220px;
    height: 145px;
    list-style: none;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-size: contain;
}

.app-portfolio-filter-item.Ui {
    background-image: url(../../assets/images/ui.png);

}
.app-portfolio-filter-item.Code {
    background-image: url(../../assets/images/code.png);
}
