.app-portfolio-portfolioinfo h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    margin: 5px 0;

    color: #26C17E;
}

.app-portfolio-portfolioinfo p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 5px 0;
    color: #222935;
}

.app-portfolio-portfolioinfo a {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #26C17E;
}

.app-portfolio-portfolioinfo{
    font-family: 'Open Sans';
    font-style: normal;
    padding: 5px;
    height: 100%;
}