.app-address-icon {
    width: 8%;
    height: 30px;
    color: #26C17E;
}

.app-address-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-address div a {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    color: #222935;
}
.app-address-item-label{
    font-weight: 700;
}
.app-address-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #222935;
}
