.app-skills-graph{
    width: 95%;
}

.app-skill-name{
    margin-left: 10px;
}

.app-skill {
    margin-top: 5px;
    height: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    background: #26C17E;
    display: flex;
    align-items: center;
}

.app-skills-line {
    margin-top: 10px;
    height: 7px;
    border-bottom: 1px solid #667081;
    display: flex;
    justify-content: space-between;
}
.app-skills-line span {
    border-right: 1px solid #667081;
}

.app-skills-xAxis {
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
}

.app-skills-xAxis-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #667081;
}

.app-skills-formik {
    border: 1px solid #26C17E;
    border-radius: 5px;
    width: 95%;
    padding: 15px;
    margin-bottom: 30px;
}

.app-skills-form-comp {
    margin-bottom: 10px;
}
.app-skills-form-label {
    display: inline-block;
    width: 13%;
}

.app-skills-form-field {
    border: 1px solid #667081;
    border-radius: 5px;
    width: 270px;
    height: 40px;
}

.app-skills-top {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}