.app-navigation-list-item{
    display: flex;
    align-items: center;
    color: rgb(102, 112, 129);
    text-decoration: none;
    padding: 10px 0;
}

.app-navigation-list {
    padding-left: 10px;
}

.app-navigation-list-item-icon {
    width: 30%;
}

.app-navigation-list-item:hover {
    color: #26C17E;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .app-navigation-list-item {
        justify-content: center;
    }

    .app-navigation-list-item-text {
        display: none;
    }
    
    .app-left-side h1{
        display: none;
    }
}