.app-main-page {
    background: url(../../assets/images/background.png) no-repeat center center fixed;
    background-size: cover;
    height: 620px;
    overflow: hidden;
}

.app-main-page--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,6,20, 0.7);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-main-page--avatar {
    margin-top: 100px;
    vertical-align: middle;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}

.app-main-page--name {
    margin: 10px;
}

.app-main-page--position {
    margin: 0px;
    font-weight: 600;
    font-size: 25px;
}

.app-main-page--information {
    margin: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 120%;
    color: white;
}