.app-timeline {
    overflow-y: auto;
    min-height: 30vh;
    max-height: 80vh;
}
.app-timeline-item {
    width: 95%;
    display: flex;
    align-items: flex-start;
    border-left: 4px rgb(38, 193, 126) solid;
}

.app-timeline-item--desc {
    width: 100%;
    padding-right: 10px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
    margin-bottom: 20px;
}
.app-timeline-item::before {
    content: '';
    position: relative;
    top: 15px;
    left: 41px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(238, 238, 238);
}

fieldset {
    display: inline-block;
    border: none;
}

legend {
    position: relative;
    left: -33px;
    background-color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #222935;
}

.app-timeline-item--title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #222935;

}

.app-timeline-item--text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #222935;
}


.app-timeline-spinner-content {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-timeline-spinner-icon {
    width: 30px;
    height: 30px;
    color: #26C17E;
}

.app-timeline-error-text{
    color: #26C17E;
}