.app-feedback-item-photo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
}

cite {
    font-style: italic;
}

.app-feedback-item-reporter {
    display: flex;
    align-items: center;
}

